* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.digit {
  margin: 0 5px;
  padding: 5px 7px;
  border-bottom: 3px solid #a4a2a3;
}

.resetButton, .checkButton {
  padding: 10px 13px;
  border: 0;
}
.resetButton:focus, .checkButton:focus {
  border: 2px solid #433;
}

.resetButton {
  margin-right: 10px;
  background: #ffb300;
  color: #333;
}

.checkButton {
  margin-right: 10px;
  background: #1e88e5;
  color: #eee;
}